PT_CASINO=casinoname
PT_CERT=certificatepath
PT_KEY=keypath
PT_URL=https://wepapi.casinoname.com
PT_TEST_USERNAME=username
PT_TEST_BONUSTRIGGER_CUSTOMEVENT=customevent_trigger_word
PT_TEST_BONUSTRIGGER_PROMOCODE=optin_trigger_word
